body{
  background-color: #312e2b
}

table,td {
    border: 1px solid #333;
    background-color: #312e2b;
    margin: auto;
    margin-top: 30%;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

thead,tfoot {
    background-color: #333;
    color: #fff;
}

#Refresh{
  margin-top: 5em;
  margin-left: 44%;
  background-color: #769656;
  color: white;
  border-color: #769656;
  border-radius : 10px
}

caption{
  padding: 10px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: 5em;
  background-color: #769656;
  margin-bottom: 20px;
  border-radius: 20px;
}

img{
  display: block;   /* NOTE: permet de mettre l'image à la taille de la case */
}
